body{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color:aqua
}

.timer{
  width:250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(48, 214, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  color: chartreuse;

}